[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

django = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"
google-api-python-client = "*"
httplib2 = "*"

[dev-packages]

